@import 'shared/ui/colors'
@import 'shared/ui/scales'
    
.book_card
    width: 200px
    height: 200px
    padding: $p
    border-radius: 10px
    box-shadow: $shadow
    margin: 20px
    transition: 0.1s linear
    display: flex
    flex-direction: column
    justify-content: space-between
    &:hover
        transform: scale(1.1)