@import 'shared/ui/colors'
@import 'shared/ui/scales'

$width: 300px
$height: 300px
.modal
    position: absolute
    box-shadow: $shadow
    padding: $p
    background-color: $white
    border-radius: 20px
    width: $width
    left: calc( (100vw - $width)/2 )
    top: calc( (100vh - $height)/2 )