@import 'shared/ui/colors'
    
.header
    position: sticky
    top: 0
    background-color: $primary-color
    box-sizing: border-box
    padding: 20px
    height: 80px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between

    h1 
        margin: 0